<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <!-- <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-name">
      <h1>My Application</h1>
    </span>

  </mat-toolbar> -->
  <!-- <mat-grid-list cols="1" rowHeight="100%">
    <mat-grid-tile [colspan]="1" [rowspan]="2"> -->

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Application Title</span>
    <span>Application Title</span>

    <!-- This fills the remaining space of the current row -->

    <span class="example-fill-remaining-space"></span>
    <span>Right Aligned Text</span>
  </mat-toolbar>

  <!-- </mat-grid-tile>
  </mat-grid-list> -->

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <!-- <a routerLink="/" *ngFor="let nav of fillerNav">{{nav}}</a> -->

        <mat-list-item [matMenuTriggerFor]="money">
          <fa-icon [icon]="faMoneyCheckAlt" size="lg" pull="left"></fa-icon>
          <span>การเงิน</span>
        </mat-list-item>

        <mat-list-item [matMenuTriggerFor]="pharmacy">
          <fa-icon [icon]="faPrescription" size="lg" pull="left"></fa-icon>
          <span>ห้องยา</span>
        </mat-list-item>




      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

<mat-menu #money="matMenu">
  <button mat-menu-item routerLink="money">คิวการเงิน</button>
</mat-menu>

<mat-menu #pharmacy="matMenu">
  <button mat-menu-item routerLink="admin">พิมพ์สติ๊กเกอร์</button>
  <button mat-menu-item routerLink="admin">คิวเรียกรับยา</button>

</mat-menu>
